//- read vars from brunch config during brunch build
- var server = process.server

if server.run
	base(href='#{server.base}/')
	script: :coffee
		window.brunch ?= {}
		window.brunch['auto-reload'] = enabled: true

else
	script: :coffee
		req = new XMLHttpRequest()
		req.open "GET", document.location, false
		req.send null
		if context = req.getResponseHeader('context')
			document.write "<base href='#{context}/'/>"
		else
			document.write "<base href='/'/>"
