black 	= #000000
dark 	= #333333
yellow 	= #ffbb00
red 	= #ff5500
white 	= #ffffff

mainFont = 'Oswald', sans-serif
numberFont = 'Comfortaa', monospace

html
body
	height 100%

body
	font-family mainFont
	background red

a
	text-decoration inherit
	color inherit

ui-view
[ui-view]
	&.ng-enter
	&.ng-leave
		display block
		position absolute
		transition all .5s

	&.ng-leave
	&.ng-enter.ng-enter-active
		opacity 1

	&.ng-enter
	&.ng-leave.ng-leave-active
		opacity 0

.toolbar
.view
	position absolute
	left 0
	right 0
	overflow hidden

.toolbar
	top 0
	height 3em
	background darken(red, 15)
	color yellow
	line-height @height
	padding 0 1em
	text-align center
	position relative

	.back
		position absolute
		display block
		top 0
		left 0
		padding 0 1em
		&::before
			content '←'

.view
	bottom 0
	top 3em
	background yellow