.stop
	.name {{sc.stop.name}}
	.direction {{sc.stop.direction}}
	.description {{sc.stop.description}}
	.trams
		p.tram(ng-repeat='tram in sc.stop.lines') {{tram.tram.id.line}} ({{tram.tram.id.sideNumber}}) {{tram.distanceInMeters.toFixed(0)}}m
